<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/style.css">
  <title>Error!</title>
</head>
<body>
  <header>
    <h1>Best Books!</h1>
    <div></div>
    <div></div>
    <div></div>
    <a id="hidden" href="/">HOME</a>
  </header>
  <h1>There was an error with your search!</h1>
  <p>Please go back and try again.</p>
</body>
</html>



