<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../layout/head') %>
</head>
<body>
  <main class="container">
    <header>
      <%- include('../layout/header') %>
    </header>
  <h2>There was an error with your search!
    Click SEARCH to try again.</h2>
    <p id="spelling">Please double check that the spelling on the title or author is correct.</p>
  </main> 
  <!-- <h2>Please go back and try again.</h2> -->
  <%- include('../layout/footer') %>
</body>

</html>



