<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout/head') %>
</head>
<body>
  <main class="container">
    <header>
      <%- include('layout/header') %>
    </header>
  <h2>There was an error with your search!
    Click HOME to try again.</h2>
  <!-- <h2>Please go back and try again.</h2> -->
</body>
</html>



