<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('layout/head') %>
</head>
<body>
  <main class="container">
    <header>
      <%- include('layout/header') %>
    </header>
    
    <%- include('searches/new') %>
  </main>
</body>
</html>